<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Zomato Analytics Dashboard</title>

<style>

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #f8f9fc, #fff4f1);
    color: #222;
}

/* HEADER */

.header {
    background: linear-gradient(135deg, #d9233f, #ff7043);
    color: white;
    padding: 38px 55px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.header h1 {
    margin: 0;
    font-size: 34px;
    font-weight: 700;
}

.header p {
    margin: 10px 0 0;
    font-size: 15px;
    opacity: 0.92;
}

/* MAIN */

.container {
    width: 92%;
    max-width: 1400px;
    margin: 35px auto;
}

/* KPI CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    border: 1px solid #f0f0f0;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.12);
}

.icon {
    font-size: 28px;
    margin-bottom: 12px;
}

.card-title {
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-value {
    font-size: 27px;
    font-weight: bold;
    color: #222;
}

/* SECTION */

.section {
    background: white;
    margin-top: 30px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.07);
}

.section h2 {
    margin: 0;
    font-size: 23px;
}

.subtitle {
    color: #888;
    margin-top: 8px;
    font-size: 14px;
}

/* TABLE */

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 22px;
}

th {
    background: #fff0ec;
    color: #444;
    padding: 15px;
    text-align: left;
    font-size: 14px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
}

tr:hover {
    background: #fff9f7;
}

.rank {
    display: inline-flex;
    width: 35px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: #ffe8e2;
    color: #d9233f;
    border-radius: 8px;
    font-weight: bold;
}

/* BAR CHART */

.chart-area {
    margin-top: 30px;
    padding: 30px 20px 20px;
    background: linear-gradient(135deg, #fff9f7, #f7f8fb);
    border-radius: 16px;
    overflow-x: auto;
}

.chart {
    min-width: 1100px;
    height: 520px;
    position: relative;
    margin-left: 55px;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;

    background:
        repeating-linear-gradient(
            to top,
            transparent 0px,
            transparent 103px,
            #e5e5e5 104px
        );
}

/* Y AXIS */

.y-axis {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.y-axis span {
    font-size: 12px;
    color: #777;
}

/* BARS */

.bars {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.bar-column {
    height: 100%;
    width: 85px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bar-value {
    font-size: 12px;
    font-weight: bold;
    color: #d9233f;
    margin-bottom: 7px;
    white-space: nowrap;
}

.bar {
    width: 58px;

    background: linear-gradient(
        180deg,
        #ff7043,
        #d9233f
    );

    border-radius: 10px 10px 0 0;

    box-shadow:
        0 7px 15px rgba(217,35,63,0.25);

    transition: 0.3s;
}

.bar:hover {
    transform: translateY(-7px);

    box-shadow:
        0 14px 25px rgba(217,35,63,0.35);
}

.bar-name {
    width: 105px;
    text-align: center;
    margin-top: 12px;
    font-size: 11px;
    color: #555;
    line-height: 15px;
}

/* CITY REVENUE */

.city-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
    margin-top: 25px;
}

.city-card {
    background: linear-gradient(135deg, #fff6f2, #ffffff);
    border: 1px solid #f0ddd7;
    border-radius: 15px;
    padding: 23px;
    transition: 0.3s;
}

.city-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.city-name {
    font-size: 14px;
    color: #777;
}

.city-value {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #d9233f;
}

/* FOOTER */

.footer {
    text-align: center;
    padding: 30px;
    color: #999;
    font-size: 13px;
}

/* RESPONSIVE */

@media(max-width: 1000px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .city-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {

    .cards {
        grid-template-columns: 1fr;
    }

    .city-grid {
        grid-template-columns: 1fr;
    }

    .header {
        padding: 28px;
    }

    .header h1 {
        font-size: 26px;
    }
}

</style>

</head>

<body>

<!-- HEADER -->

<div class="header">

    <h1>🍴 Zomato Analytics Dashboard</h1>

    <p>
        Restaurant, Revenue, Orders, Rating and Delivery Time Analysis
    </p>

</div>


<div class="container">


<!-- KPI CARDS -->

<div class="cards">

    <div class="card">
        <div class="icon">💰</div>

        <div class="card-title">
            Total Revenue
        </div>

        <div class="card-value">
            ₹{{ "{:,.0f}".format(total_revenue or 0) }}
        </div>
    </div>


    <div class="card">
        <div class="icon">🛒</div>

        <div class="card-title">
            Total Orders
        </div>

        <div class="card-value">
            {{ "{:,.0f}".format(total_orders or 0) }}
        </div>
    </div>


    <div class="card">
        <div class="icon">🍽️</div>

        <div class="card-title">
            Total Restaurants
        </div>

        <div class="card-value">
            {{ total_restaurants or 0 }}
        </div>
    </div>


    <div class="card">
        <div class="icon">⭐</div>

        <div class="card-title">
            Average Rating
        </div>

        <div class="card-value">
            {{ "%.2f"|format(avg_rating or 0) }} / 5
        </div>
    </div>

</div>


<!-- TOP 10 TABLE -->

<div class="section">

    <h2>🏆 Top 10 Restaurants by Revenue</h2>

    <div class="subtitle">
        Highest revenue generating restaurants
    </div>


    <div class="table-container">

        <table>

            <tr>
                <th>Rank</th>
                <th>Restaurant Name</th>
                <th>Revenue</th>
            </tr>


            {% for restaurant in top_restaurants %}

            <tr>

                <td>
                    <span class="rank">
                        {{ loop.index }}
                    </span>
                </td>

                <td>
                    {{ restaurant[0] }}
                </td>

                <td>
                    <strong>
                        ₹{{ "{:,.0f}".format(restaurant[1]) }}
                    </strong>
                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>


<!-- PROFESSIONAL VERTICAL BAR CHART -->

<div class="section">

    <h2>📊 Top 10 Restaurants by Revenue</h2>

    <div class="subtitle">
        Revenue comparison of top performing restaurants
    </div>


    <div class="chart-area">

        <div class="chart">


            <!-- Y AXIS -->

            <div class="y-axis">

                <span>₹20L</span>
                <span>₹15L</span>
                <span>₹10L</span>
                <span>₹5L</span>
                <span>₹0</span>

            </div>


            <!-- BARS -->

            <div class="bars">

                {% set max_revenue = top_restaurants[0][1] %}

                {% for restaurant in top_restaurants %}

                <div class="bar-column">

                    <div class="bar-value">
                        ₹{{ "%.1f"|format(restaurant[1] / 100000) }}L
                    </div>

                    <div
                        class="bar"
                        style="height: {{ (restaurant[1] / 2000000 * 100)|round(1) }}%;">
                    </div>

                    <div class="bar-name">
                        {{ restaurant[0] }}
                    </div>

                </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>
<!-- CITY WISE REVENUE -->

<div class="section">

    <h2>📍 City-wise Revenue</h2>

    <div class="subtitle">
        Revenue contribution by city
    </div>

    <div style="
        margin-top:30px;
        padding:30px 20px 20px;
        background:linear-gradient(135deg,#fff9f7,#f8f9fc);
        border-radius:16px;
        overflow-x:auto;
    ">

        <div style="
            min-width:850px;
            height:430px;
            position:relative;
            border-left:2px solid #555;
            border-bottom:2px solid #555;

            background:
            repeating-linear-gradient(
                to top,
                transparent 0px,
                transparent 79px,
                #e5e5e5 80px
            );
        ">

            <!-- Y AXIS -->

            <div style="
                position:absolute;
                left:-50px;
                top:0;
                bottom:0;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                font-size:12px;
                color:#777;
            ">

                <span>₹25L</span>
                <span>₹20L</span>
                <span>₹15L</span>
                <span>₹10L</span>
                <span>₹5L</span>
                <span>₹0</span>

            </div>


            <!-- BARS -->

            <div style="
                position:absolute;
                left:40px;
                right:40px;
                top:0;
                bottom:0;

                display:flex;
                align-items:flex-end;
                justify-content:space-around;
            ">

                {% set max_city_revenue = 25000000 %}

                {% for city in city_revenue[:5] %}

                <div style="
                    height:100%;
                    width:120px;
                    display:flex;
                    flex-direction:column;
                    justify-content:flex-end;
                    align-items:center;
                ">

                    <!-- VALUE -->

                    <div style="
                        font-size:13px;
                        font-weight:bold;
                        color:#d9233f;
                        margin-bottom:8px;
                        white-space:nowrap;
                    ">

                        ₹{{ "%.1f"|format(city[1] / 100000) }}L

                    </div>


                    <!-- BAR -->

                    <div style="
                        width:65px;

                        height:{{ (city[1] / max_city_revenue * 100)|round(1) }}%;

                        background:
                        linear-gradient(
                            180deg,
                            #ff7043,
                            #d9233f
                        );

                        border-radius:10px 10px 0 0;

                        box-shadow:
                        0 8px 18px rgba(217,35,63,0.25);

                        transition:0.3s;
                    ">

                    </div>


                    <!-- CITY NAME -->

                    <div style="
                        width:120px;
                        text-align:center;
                        margin-top:12px;
                        font-size:13px;
                        font-weight:bold;
                        color:#555;
                    ">

                        {{ city[0] }}

                    </div>

                </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>


<!-- FOOTER -->

<div class="footer">

    Zomato Analytics Project • Data Analytics Dashboard

</div>


</body>

</html>


<!-- RATING-WISE RESTAURANT ANALYSIS -->

<div class="section">

    <h2>⭐ Rating-wise Restaurant Analysis</h2>

    <div class="subtitle">
        Distribution of restaurants by customer rating
    </div>

    <div style="
        margin-top:30px;
        padding:35px 25px 25px 70px;
        background:linear-gradient(135deg,#fff8f5,#f7f9fc);
        border-radius:18px;
        overflow-x:auto;
    ">

        <div style="
            position:relative;
            min-width:1050px;
            height:450px;
            border-left:2px solid #555;
            border-bottom:2px solid #555;

            background:
            repeating-linear-gradient(
                to top,
                transparent 0px,
                transparent 89px,
                #e5e5e5 90px
            );
        ">

            <!-- Y AXIS -->

            <div style="
                position:absolute;
                left:-45px;
                top:0;
                bottom:0;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                color:#777;
                font-size:12px;
            ">

                <span>15</span>
                <span>10</span>
                <span>5</span>
                <span>0</span>

            </div>


            <!-- ALL BARS -->

            <div style="
                position:absolute;
                left:30px;
                right:25px;
                bottom:0;
                height:410px;

                display:flex;
                align-items:flex-end;
                justify-content:space-between;
            ">


                <!-- 2.8 -->

                <div style="text-align:center;width:35px;">

                    <div style="
                        font-size:11px;
                        font-weight:bold;
                        color:#d9233f;
                    ">3</div>

                    <div style="
                        height:68px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">
                        2.8
                    </div>

                </div>


                <!-- 2.9 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">6</div>

                    <div style="
                        height:136px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">2.9</div>

                </div>


                <!-- 3.0 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">9</div>

                    <div style="
                        height:204px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.0</div>

                </div>


                <!-- 3.1 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">7</div>

                    <div style="
                        height:159px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.1</div>

                </div>


                <!-- 3.2 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">3</div>

                    <div style="
                        height:68px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.2</div>

                </div>


                <!-- 3.3 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">7</div>

                    <div style="
                        height:159px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.3</div>

                </div>


                <!-- 3.4 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">8</div>

                    <div style="
                        height:181px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.4</div>

                </div>


                <!-- 3.5 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">7</div>

                    <div style="
                        height:159px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.5</div>

                </div>


                <!-- 3.6 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">6</div>

                    <div style="
                        height:136px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.6</div>

                </div>


                <!-- 3.7 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">6</div>

                    <div style="
                        height:136px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.7</div>

                </div>


                <!-- 3.8 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">6</div>

                    <div style="
                        height:136px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.8</div>

                </div>


                <!-- 3.9 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">8</div>

                    <div style="
                        height:181px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">3.9</div>

                </div>


                <!-- 4.0 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">5</div>

                    <div style="
                        height:113px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.0</div>

                </div>


                <!-- 4.1 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">8</div>

                    <div style="
                        height:181px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.1</div>

                </div>


                <!-- 4.2 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">4</div>

                    <div style="
                        height:91px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.2</div>

                </div>


                <!-- 4.3 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">9</div>

                    <div style="
                        height:204px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.3</div>

                </div>


                <!-- 4.4 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">4</div>

                    <div style="
                        height:91px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.4</div>

                </div>


                <!-- 4.5 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">5</div>

                    <div style="
                        height:113px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.5</div>

                </div>


                <!-- 4.6 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">11</div>

                    <div style="
                        height:249px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.6</div>

                </div>


                <!-- 4.7 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">14</div>

                    <div style="
                        height:317px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.7</div>

                </div>


                <!-- 4.8 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">11</div>

                    <div style="
                        height:249px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.8</div>

                </div>


                <!-- 4.9 -->

                <div style="text-align:center;width:35px;">

                    <div style="font-size:11px;font-weight:bold;color:#d9233f;">3</div>

                    <div style="
                        height:68px;
                        background:linear-gradient(#ff7043,#d9233f);
                        border-radius:7px 7px 0 0;
                    "></div>

                    <div style="font-size:11px;margin-top:8px;">4.9</div>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- DELIVERY TIME ANALYSIS -->

<div class="section">

    <h2>🚚 Delivery Time Analysis</h2>

    <div class="subtitle">
        Number of restaurants by delivery time
    </div>

    <div style="
        margin-top:30px;
        padding:30px;
        background:#ffffff;
        border-radius:16px;
        box-shadow:0 4px 15px rgba(0,0,0,0.08);
        overflow-x:auto;
    ">

        <div style="
            min-width:1200px;
            height:500px;
            position:relative;
            border-left:2px solid #333;
            border-bottom:2px solid #333;
            padding-left:50px;
        ">

            <!-- Y AXIS -->

            <div style="
                position:absolute;
                left:5px;
                top:0;
                bottom:0;
                width:40px;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                font-size:12px;
                color:#666;
            ">
                <span>8</span>
                <span>6</span>
                <span>4</span>
                <span>2</span>
                <span>0</span>
            </div>


            <!-- GRID -->

            <div style="
                position:absolute;
                left:50px;
                right:0;
                top:0;
                bottom:0;
                background:
                repeating-linear-gradient(
                    to bottom,
                    transparent 0px,
                    transparent 99px,
                    #eeeeee 100px
                );
                z-index:0;
            "></div>


            <!-- CHART -->

            <div style="
                position:absolute;
                left:70px;
                right:20px;
                top:0;
                bottom:0;
                display:flex;
                align-items:flex-end;
                justify-content:space-between;
                z-index:2;
            ">


                <!-- 18 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">5</b>
                    <div style="
                        width:22px;
                        height:250px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>18</small>
                </div>


                <!-- 19 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">3</b>
                    <div style="
                        width:22px;
                        height:150px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>19</small>
                </div>


                <!-- 20 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">2</b>
                    <div style="
                        width:22px;
                        height:100px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>20</small>
                </div>


                <!-- 21 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">4</b>
                    <div style="
                        width:22px;
                        height:200px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>21</small>
                </div>


                <!-- 22 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">5</b>
                    <div style="
                        width:22px;
                        height:250px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>22</small>
                </div>


                <!-- 24 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">6</b>
                    <div style="
                        width:22px;
                        height:300px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>24</small>
                </div>


                <!-- 28 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">1</b>
                    <div style="
                        width:22px;
                        height:50px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>28</small>
                </div>


                <!-- 32 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">7</b>
                    <div style="
                        width:22px;
                        height:350px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>32</small>
                </div>


                <!-- 33 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">8</b>
                    <div style="
                        width:22px;
                        height:400px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>33</small>
                </div>


                <!-- 38 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">8</b>
                    <div style="
                        width:22px;
                        height:400px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>38</small>
                </div>


                <!-- 41 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">6</b>
                    <div style="
                        width:22px;
                        height:300px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>41</small>
                </div>


                <!-- 46 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">6</b>
                    <div style="
                        width:22px;
                        height:300px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>46</small>
                </div>


                <!-- 52 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">8</b>
                    <div style="
                        width:22px;
                        height:400px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>52</small>
                </div>


                <!-- 60 -->
                <div style="text-align:center;">
                    <b style="font-size:11px;">4</b>
                    <div style="
                        width:22px;
                        height:200px;
                        background:#d9233f;
                        border-radius:5px 5px 0 0;
                        margin-top:5px;
                    "></div>
                    <small>60</small>
                </div>

            </div>

        </div>

        <div style="
            text-align:center;
            margin-top:15px;
            color:#666;
            font-size:13px;
        ">
            Delivery Time (minutes)
        </div>

    </div>

</div>